body,
html {
  min-width: 1366px;
}
#wrap {
  position: relative;
}
#header .top {
  height: 28px;
  background-color: #f5f5f5;
  color: #4c4c4c;
  line-height: 28px;
}
#header .top i {
  margin-left: 100px;
  float: left;
}
#header .top p {
  float: right;
  padding-right: 120px;
}
#header .top a:hover {
  color: #ffa130;
  text-decoration: underline;
}
#header .top img {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 8px;
}
#header .nav {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#header .nav a {
  display: inline-block;
}
#header .nav img {
  display: inline-block;
  vertical-align: middle;
}
#header .nav span {
  margin-left: 47px;
  line-height: 55px;
  padding-right: 3px;
  display: inline-block;
}
#header .nav form {
  display: inline;
  font-size: 0px;
  margin-right: 50px;
}
#header .nav form input {
  margin-left: 32px;
  width: 390px;
  padding: 7px 0 11px 15px;
  border: 2px solid #ffa130;
  vertical-align: middle;
}
#header .nav form a {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  background-color: #ffa130;
  height: 37px;
  *height: 38px;
  *margin-left: 0px;
  line-height: 37px;
  width: 68px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
#header .nav i {
  display: inline-block;
}
#header .nav i a {
  display: inline-block;
  vertical-align: middle;
  width: 114px;
  height: 33px;
  margin-top: 7px;
  font-size: 14px;
  border: 2px solid #e0e0e0;
  text-align: center;
  line-height: 33px;
  margin-right: 20px;
  color: #808080;
}
#header .nav i a.shopcar {
  padding-left: 15px;
  margin-right: 0px;
  width: 99px;
  background: url(../img/shopcar.jpg) no-repeat;
  background-position: 10px 7px;
}
#header .nav-list {
  margin-top: 22px;
  font-size: 0px;
}
#header .nav-list ul {
  background-color: #ffa130;
  padding-left: 110px;
  font-size: 0px;
}
#header .nav-list ul li {
  display: inline;
}
#header .nav-list ul li a {
  display: inline-block;
  line-height: 48px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 160px;
  *width: 160px;
  text-align: center;
}
#header .nav-list ul li a:hover {
  background-color: #fd6b00;
}
#main {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 405px;
}
#main .main_left {
  float: left;
}
#main .main_left .main_left_list ul > li:first-child {
  display: block;
  height: 4px;
  width: 171px;
  background-color: #ffa130;
}
#main .main_left .main_left_list ul li {
  font-size: 0px;
}
#main .main_left .main_left_list ul li.active a {
  background-color: #f88f1f;
  color: white;
  font-weight: bold;
  border-left: 1px solid #f88f1f;
  border-right: 1px solid #f88f1f;
  border-bottom: none;
}
#main .main_left .main_left_list ul li > a:first-child {
  height: 46px;
}
#main .main_left .main_left_list ul li a {
  display: block;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  height: 50px;
  width: 169px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #656565;
  font-family: "Microsoft YaHei";
}
#main .main_left .main_left_list ul li a.last_list {
  border-bottom: none;
}
#main .main_left .main_left_list ul li a:hover {
  background-color: #f88f1f;
  color: white;
  font-weight: bold;
  border-left: 1px solid #f88f1f;
  border-right: 1px solid #f88f1f;
  border-bottom: none;
}
#main .main_left .main_left_list ul .no {
  height: 11px;
  *width: 169px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
#main .main_right {
  float: left;
  font-size: 0px;
  margin-left: 22px;
  width: 1000px;
}
#main .main_right .change_top {
  border-bottom: 1px solid #e5e5e5;
}
#main .main_right .change_top span {
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 46px;
  color: #4c4c4c;
  font-size: 18px;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
#main .main_right .change_main {
  border: 1px solid #e6e6e6;
  margin-top: 21px;
  padding: 10px;
  width: 978px;
  height: 293px;
}
#main .main_right .change_main .left {
  float: left;
  width: 609px;
}
#main .main_right .change_main .left h1 {
  font-size: 16px;
  color: #808080;
}
#main .main_right .change_main .left dl dt {
  line-height: 40px;
  padding-left: 18px;
  background: url(../img/dot.png) no-repeat;
  background-position: 0px 15px;
  color: #1a1a1a;
  font-size: 16px;
}
#main .main_right .change_main .left dl dd {
  padding-left: 18px;
  margin-bottom: 30px;
  color: #4c4c4c;
  font-size: 14px;
}
#main .main_right .change_main .right {
  float: left;
  background: url(../img/call.png) no-repeat;
  background-position: center 0 ;
  margin-top: 10px;
}
#main .main_right .change_main .right p {
  margin-top: 90px;
  text-align: center;
}
#main .main_right .change_main .right p span {
  display: block;
  color: #808080;
  font-size: 16px;
}
#main .main_right .change_main .right p em {
  display: block;
  margin-top: 20px;
  color: #808080;
  font-size: 18px;
}
#main .main_right .change_main .right p a {
  display: inline-block;
  line-height: 35px;
  margin-top: 20px;
  padding-left: 10px;
  width: 108px;
  height: 35px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 6px;
  background: url(../img/call_icon.png) no-repeat;
  background-position: 9px 8px;
  background-color: #26c08a;
}
#main .main_right .change_main .right p a:hover {
  color: #ffa130;
  background-position: 10px -24px;
}
#footer {
  height: 120px;
  width: 1366px;
  margin-top: 75px;
  position: absolute;
  background-color: #f9f0e4;
  text-align: center;
  font-size: 12px;
}
#footer ul {
  margin-top: 40px;
}
#footer ul li {
  display: inline;
}
#footer ul li a {
  color: #1a1a1a;
  font-weight: bold;
  margin-left: 12px;
  margin-right: 12px;
}
#footer ul li a:hover {
  color: #ffa130;
  font-weight: bold;
  text-decoration: underline;
}
#footer p {
  margin-top: 14px;
  color: #5e5e5e;
}
#main .main_left .main_left_list ul li.active a {
  background-color: #f88f1f;
  color: white;
  font-weight: bold;
  border-left: 1px solid #f88f1f;
  border-right: 1px solid #f88f1f;
  border-bottom: none;
}